<!DOCTYPE html>
<html>
  <head>
    <title ng-bind="pageTitle"></title>
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="/<%= file %>"></script><% }); %>
  </head>
  <body ng-app="qcon">
    <div class="container qcon-app" ng-controller="AppCtrl">
      <i class="fa fa-spinner fa-spin huge-preloader" ng-if="!data"></i>
        <div class="seat-chart" ng-show="data">
          <div seats group="c" start-row="11" end-row="64" class="c1"></div>
          <br class="clear"/>
          <div seats group="b" start-row="1" end-row="10"></div>
          <div seats group="b" start-row="11" end-row="46"></div>
          <div seats group="b" start-row="49" end-row="74" class="b3"></div>
          <br class="clear"/>
          <div seats group="a" start-row="1" end-row="10"></div>
          <div seats group="a" start-row="11" end-row="42"></div>
          <div seats group="a" start-row="49" end-row="74" class="a3"></div>
          <br class="clear"/>
        </div>
        <div class="table-filter well row" ng-show="data">
            <div class="form-group col-md-10">
              <label class="control-label"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</label>
              <input type="text" class="form-control" ng-model="userFilter" />
            </div><!-- .form-group -->
            <div class="form-group col-md-2">
              <label class="control-label"># of Results</label>
              <select ng-model="usersPerPage" class="form-control">
                <option value="20" selected>20</option>
                  <option value="40">40</option>
                  <option value="60">60</option>
                  <option value="80">80</option>
                  <option value="100">100</option>
                </select>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" ng-show="data">
          <thead>
            <tr>
              <th>Seat</th>
              <th>Username</th>
              <th>Clan</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="seat in (filteredItems = (seats | filter: userFilter | orderBy: seat.username | limitTo: usersPerPage))">
              <td>{{seat.seat}}</td>
              <td>{{seat.username}}</td>
              <td>{{seat.clan}}</td>
            </tr>
          </tbody>
        </table>
    </div> 
  </body>
</html>
